body, html {
    height: 100%;
    margin: 0;
}

.customnav {
    background-color: #0097a9;
    max-height: 52.5px;
}

.logoimg {
    background-color: #fff;
    /*margin-left: 200px;*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 110px;
}

.menuitems {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
  /*  font-family: OpenSans;
  font-size: 6.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal; */
}

.cityimg {
    background-image: url("image/bitmap@2x.png");
    height: 50%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*filter: brightness(0.50);*/
    background-blend-mode: saturation;
}

.findhomebtn {
    background-color: #0097a9;
    border: none;
    color: #fff;
    font-size: 12px;
    width: 125px;
    height: 35px;
}

.nopaddingleft {
    padding-left: 0px !important;
}

.nopaddingright {
    padding-right: 0px !important;
}

.nomarginbottom {
    margin-bottom: 0px !important;
}

.addmarginbottom {
    margin-bottom: 45px;
}

.nopadding {
    padding: 0px !important;
}

.nomargin {
    margin: 0px !important;
}

.addpaddingbottom {
    padding-bottom: 50px;
}

p {
    color: #fff;
}

.cityfont {
    color: #fff;
    position: relative;
}

.cityrow {
    padding-top: 55px;
    /*padding-left: 65px;*/
}

.videoimg {
    max-height: 325px;
    max-width: 350px;
}

.whereparadisemeets {
    width: 250px;
    height: 23.5px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-family: DancingScript;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.1px;
    color: #ffffff;
}

.driftwoodtownhomes {
    width: 271px;
    height: 23.5px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.47);
    font-family: OpenSans;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: -0.5px;
    color: #e7c6ad;
}

.forsaleinmiramar {
    width: 250px;
    height: 23.5px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.47);
    font-family: OpenSans;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.96;
    letter-spacing: -0.3px;
    color: #e7c6ad;
}

.minwalktobeach {
    width: 250px;
    height: 23.5px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-family: DancingScript;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.1px;
    color: #ffffff;
}

.girlsroomimg {
    width: inherit;
}

.girlsrec {
    background-color: #028b9b;
}

.textslignment {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.girlsroomrow {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.girlstext {
    /*width: 224px;
    height: 57px;*/
    text-shadow: 1px 1.5px 3px rgba(0, 0, 0, 0.42);
    font-family: DancingScript;
    font-size: 26.5px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: 0.2px;
    color: #ffffff;
}

.builderbtn {
    background-color: #0097a9;
    border: none;
    color: #fff;
    font-size: 12px;
    width: 250px;
    height: 35px;
}

.bottomrec {
    background-color: #025a64;
    /*height: 200px;*/
    width: 100%;
}

.bottomrectext {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: center;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 20px;
}

.pagemap {
    background-color: #02353a;
    color: #fff;
}

ul {
    padding-left: 16px;
}

h5 {
    font-size: 15px !important;
}

li {
    font-size: 10px;
}

.pagebottom {
    padding-top: 50px;
    padding-bottom: 30px;
}

.spec {
    padding-left: 0px !important;
}

.borderight {
    padding-right: 10px;
    border-right-style: solid;
    border-right-color: #fff;
    border-right-width: 1px;
}

.certifiedimg {
    padding-left: 5px;
}

.footerstyle {
    background-color: #000;
}

.footerpadding {
    padding-top: 10px;
}

.rightstext {
    font-size: 12px;
}